.innerHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.innerHeader img {
    height: 40px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footerRemark a {
    color: white;
    font-size: 24px;
    padding-left: 16px;
}

.footerRemark a:hover {
    text-decoration: underline;
    color: darkred;
}

/* ########### Buchfeld ######### */
.bookfield {
    box-sizing: border-box;
    width: 320px;
    height: 500px;
    background-color: var(--backgroundColorBookfield);
    border: 2px solid white;
    border-radius: 16px;
    font-size: 16px;
    margin: 20px;
}

.bookHeader {
    border-bottom: 1px solid white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.pictureField {
    background-color: var(--backgroundColorBookfieldPicturefield);
    height: 100px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookfield img {
    height: 70px;
}

.bookDatas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    padding: 24px 12px;
}

.priceField {
    color: white;
}

.likeField {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 20px;
}

.likeField img {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.dataField {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid white;
}

/* ########### Kommentarfeld ######### */
.commentsField {
    height: 226px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

h4 {
    padding-bottom: 10px;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
    margin-bottom: 12px;
    font-size: 12px;
    overflow-y: scroll;
}

.individualComments{
    display: flex;
}

.commentsName {
    min-width: 40%;
}

.commentsComment {
   max-width: 57%;
}

.inputField {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 100%;
}

.input {
    min-width: 80%;
}

.inputField img {
    height: 28px;
    cursor: pointer;
}

@media(max-width: 500px) {
    .innerHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-size: 10px;
}

.innerHeader img {
    height: 32px;
}
}