
/* ####################################### */
/* this classes are only used in Impressum */

.contentWidthImpressum {
    box-sizing: border-box;
    max-width: var(--maxWidth);
    width: 100%;
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.impressum {
    padding-top: 32px;
    padding-bottom: 32px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

header img {
    height: 72px;
}

.innerHeader a{
    color: white;
    display: flex;
    align-items: center;
}

footer img {
    height: 72px;
}